@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Boldonse&family=Kaushan+Script&family=League+Gothic&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");
/* font-family: "League Gothic", sans-serif;
font-family: "Kaushan Script", cursive;
 font-family: "Boldonse", system-ui;
 font-family: "Plus Jakarta Sans", sans-serif;
font-family: "Bebas Neue", sans-serif; */

.banner {
  /* background-image: url(oli/1.jpg); */
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  padding-top: 0;
  padding-bottom: 0;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  width: 100%;
  z-index: 10;
}
.navbar {
  align-items: center;
  justify-content: space-between;
  opacity: 5px;
  border-bottom: 1px solid rgb(159, 177, 184);

  transition: background-color 0.7s ease;

  background-color: rgba(
    255,
    255,
    255,
    0.192
  ) !important; /* Sedikit transparan */
  backdrop-filter: blur(5px); /* Efek blur modern */

  transition: all 0.7s ease;
}

.navbar.scrolled {
  background-color: hsla(
    0,
    100%,
    48%,
    0.8
  ) !important; /* Warna saat di-scroll */
}

.navbar .navbar-brand {
  color: rgb(255, 255, 255);
  font-size: 30px;
}
.navbar .nav-item a {
  color: rgb(255, 255, 255);
  font-size: 15px;
  font-family: "Plus Jakarta Sans", sans-serif;
}

.navbar .nav-item a:hover {
  color: rgb(88, 88, 88);
  transition: 0.8s;
}

.Selamat {
  color: rgb(255, 255, 255);
  font-family: "League Gothic", sans-serif;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}
.Pusat {
  color: rgb(255, 255, 255);
  font-family: "League Gothic", sans-serif;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}
.Fungsi {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-style: bo;
}

.gambar-samping {
}
/*  */
